main{
  text-align: center;
   font-size: 0;
}
  
.flag {
  height: 200px;
  width: 50%;
  display: inline-block;
  font-size: 0;
}
.flag-green {
	background-color: darkgreen;
	border: 1px solid black;
}
.flag-blue{
	background-color: darkblue;
	border: 1px solid black;
}

.galf {
  height: 300px;
  width: 33.3%;
  display: inline-block;
  font-size: 0;
}

.galf-grey {
	background-color: grey;
	border: 1px solid black;
}
.galf-black	{
	background-color: black;
	border: 1px solid black;
}
.galf-mustard {
	background-color: yellow;
	border: 1px solid black;
}