main{
  text-align: center;
   font-size: 0;
}
.container {
	margin: auto;
	box-sizing: border-box;
	max-width: 800px;
	height: 500px;

}
.flag {
  display: inline-block;
  font-size: 0;
}
.flag-green {
	width: 400px;
	height: 200px;
	background-color: darkgreen;
	border: 1px solid black;

}
.flag-blue{
	width: 400px;
	height: 200px;
	background-color: darkblue;
	border: 1px solid black;
}

.galf {
  height: 300px;
  width: 33.3%;
  display: inline-block;
  font-size: 0;
}

.galf-grey {
	background-color: grey;
	border: 1px solid black;
}
.galf-black	{
	background-color: black;
	border: 1px solid black;
}
.galf-mustard {
	background-color: yellow;
	border: 1px solid black;
}